html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgba(225, 211, 211, 0.85);
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

header {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 40px;
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
  background: rgb(122,125,125);
  background: linear-gradient(90deg, rgba(122,125,125,1) 15%, rgba(129,7,7,1) 75%);
}

nav {
  position: fixed;
  top: 0px;
  width: 200px;
  height: 100%;
  background: rgb(55,51,51);
  background: linear-gradient(0deg, rgba(55,51,51,1) 31%, rgba(122,125,125,1) 80%);
}

h1 {
  position: relative;
  top: 40px;
  left: 6%;
  font-size: 32px;
  font-family: Lato, sans-serif;
}

h3 {
  position: relative;
  top: 30px;
  left: 6%;
  font-size: 16px;
  font-family: Lato, sans-serif;
}

span {
  font-family: Lato, sans-serif;
}

.logoutlink {
  position: relative;
  top: 20%;
  left: 93%;
  font-size: 24px;
  font-family: Lato, sans-serif;
  color: #e1d9d9;
}

.list {
  padding-left: 40px;
  font-family: Lato, sans-serif;
}

.list-item {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Lato, sans-serif;
}

.link {
  color: #e1d9d9;
}

.usercontainer {
  height: 25%;
  margin-top: 50px;
  padding-top: 0px;
}

.nameAndFunction {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 200px;
  height: auto;
  padding-left: 0px;
  background-color: transparent;
  color: whitesmoke;
  text-align: center;
}

.image {
  position: relative;
  left: 18%;
  top: 0px;
}

.section {
  position: relative;
  top: -22px;
  left: 200px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 211, 211, 0.85);
}

.tableblock {
  margin-top: 80px;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: auto;
}

.tableandfields {
  position: relative;
  margin-left: 6%;
  margin-bottom: 50px;
  left: 0px;
  top: 0px;
  width: 1138px;
  height: 600px;
  border-style: solid;
  border-width: 2px;
  border-color: #0f3719;
  background-color: whitesmoke;
}

.table {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 50%;
}

.textfields {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 45%;
}

.float_left span {
  display: block;
}

.textfield {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 200px;
}

.text1 {
  position: relative;
  margin-left: 5%;
  top: 0px;
  left: 0px;
  right: 0px;
}

#field1 {
  position: relative;
  margin-left: 5%;
  top: -10px;
  left: 0px;
  right: 0px;
}

.text2 {
  position: relative;
  margin-left: 5%;
  top: 0px;
  left: 0px;
  right: 0px;
}

#field2 {
  position: relative;
  margin-left: 5%;
  top: -10px;
  left: 0px;
  right: 0px;
}

.text3 {
  position: relative;
  margin-left: 5%;
  top: 0px;
  left: 0px;
  right: 0px;
}

#field3 {
  position: relative;
  margin-left: 5%;
  top: -10px;
  left: 0px;
  right: 0px;
}

.text4 {
  position: relative;
  margin-left: 30%;
  top: -219px;
  left: 0px;
  right: 0px;
}

#field4 {
  position: relative;
  margin-left: 30%;
  top: -229px;
  left: 0px;
  right: 0px;
}

.text5 {
  position: relative;
  margin-left: 30%;
  top: -219px;
  left: 0px;
  right: 0px;
}

#field5 {
  position: relative;
  margin-left: 30%;
  top: -229px;
  left: 0px;
  right: 0px;
}

#submitbuttonUpdate {
  position: absolute;
  margin-left: 5%;
  top: 225px;
  left: 0px;
  right: 0px;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin-top: 20px;
  margin-left: 5%;
}

th {
  text-align: left;
  height: 30px;
}

tr {
  height: 25px;
}

#Day {
  position: relative;
  left: 5%;
  top: 25px;
  width: 125px;
  height: 30px;
}

#event {
  position: relative;
  left: 10%;
  top: 25px;
  width: 125px;
  height: 30px;
}

#submitbuttonSelector {
  position: relative;
  left: 15%;
  top: 25px;
  width: 100px;
  height: 30px;
}

.fixed_header{
  width: 85%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody{
display:block;
width: 100%;
overflow: auto;
height: 175px;
}

.fixed_header thead tr {
 display: block;
}

.fixed_header thead {
background: black;
color:#fff;
}

.fixed_header th, .fixed_header td {
  text-align: left;
  height: 30px;
  width: 200px;
}

.fixed_header td:first-child, th:first-child {
  width: 50px;
}

.fixed_header td:nth-child(2) {
  width: 100px;

}

.fixed_header th:nth-child(2) {
  width: 100px;
}

.fixed_header td:nth-child(5) {
  width: 150px;
  text-align: center;
}

.fixed_header th:nth-child(5) {
  width: 150px;
}

#dateeventtekst {
  position: relative;
  top: -10px;
  margin-left: 70%;
  font-size: 20px;
  font-family: Lato, sans-serif;

}

.logoutlink {
  position: relative;
  margin-top: 4px;
  left: 93%;
  font-size: 24px;
  font-family: Lato, sans-serif;
  background-color: rgba(122,125,125,1);
  border-color: black;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  color: black;
}

