html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgba(225, 211, 211, 0.85);
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

header {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 40px;
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
  background: rgb(122,125,125);
  background: linear-gradient(90deg, rgba(122,125,125,1) 15%, rgba(129,7,7,1) 75%);
}

nav {
  position: fixed;
  top: 0px;
  width: 200px;
  height: 100%;
  background: rgb(55,51,51);
  background: linear-gradient(0deg, rgba(55,51,51,1) 31%, rgba(122,125,125,1) 80%);
}

h1 {
  position: relative;
  top: 40px;
  left: 6%;
  font-size: 32px;
  font-family: Lato, sans-serif;
}

.logoutlink {
  position: relative;
  top: 20%;
  left: 93%;
  font-size: 24px;
  font-family: Lato, sans-serif;
  color: #e1d9d9;
}

.list {
  padding-left: 40px;
  font-family: Lato, sans-serif;
}

.list-item {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Lato, sans-serif;
}

.link {
  color: #e1d9d9;
}

.usercontainer {
  height: 25%;
  margin-top: 50px;
  padding-top: 0px;
}

.nameAndFunction {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 200px;
  height: auto;
  padding-left: 0px;
  background-color: transparent;
  color: whitesmoke;
  text-align: center;
}

.image {
  position: relative;
  left: 18%;
  top: 0px;
}

.section {
  position: relative;
  top: -22px;
  left: 200px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 211, 211, 0.85);
}

.datablocks {
  margin-top: 80px;
  overflow: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: auto;
}

.generatedblocks{
  margin-top: 40px;
  overflow: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: auto;
}

.tableblock{
  margin-top: 40px;
  overflow: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: auto;
}

.revenue {
  position: relative;
  float: left;
  margin-left: 6%;
  left: 0px;
  top: 0px;
  right: auto;
  bottom: 0px;
  width: 225px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: #0f3719;
  background-color: whitesmoke;
}

.tickets {
  position: relative;
  float: left;
  margin-left: 5%;
  left: 0px;
  top: 0px;
  right: auto;
  bottom: auto;
  width: 225px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: #0f3719;
  background-color: whitesmoke;
}

.reservations {
  position: relative;
  float: left;
  margin-left: 5%;
  left:   0px;
  top:    0px;
  width:  225px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: #0f3719;
  background-color: whitesmoke;
}

.other {
  position: relative;
  float: left;
  margin-left: 5%;
  left: 0px;
  top: 0px;
  width: 225px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: #0f3719;
  background-color: whitesmoke;
}

.importantdata {
  position: relative;
  left: 0px;
  top: 5px;
  font-size: 24px;
  text-align: center;
}

.graph {
  margin-left: 6%;
  float: left;
  position: relative;
  left: 0px;
  top: 0px;
  width: 600px;
  height: 350px;
  border-style: solid;
  border-width: 2px;
  border-color: #0f3719;
  background-color: whitesmoke;
}

#eventGraph {
  position: relative;
  margin-bottom: 25px;
  left: 10%;
  top: 15px;
  width: 125px;
  height: 30px;
}

#submitGraph {
  position: relative;
  left: 15%;
  top: 15px;
  width: 100px;
  height: 30px;
}

.weekly {
  position: relative;
  top: 23px;
  left: 60px;
  width: 150px;
  font-size: 18px;
  text-align: center;
}

.trend {
  position: relative;
  top: -40px;
  left: 460px;
  width: 120px;
  font-size: 18px;
}

.monthly {
  position: relative;
  top: -8px;
  left: 260px;
  width: 150px;
  font-size: 18px;
}

.circlediagram {
  margin-left: 5%;
  float: left;
  position: relative;
  left: 0px;
  top: 0px;
  width: 459px;
  height: 350px;
  border-style: solid;
  border-width: 2px;
  border-color: #0f3719;
  background-color: whitesmoke;
}

.table {
  position: relative;
  float: left;
  margin-left: 6%;
  margin-bottom: 50px;
  left: 0px;
  top: 0px;
  width: 1138px;
  height: 400px;
  border-style: solid;
  border-width: 2px;
  border-color: #0f3719;
  background-color: whitesmoke;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin-top: 40px;
  margin-left: 5%;
  width: 85%;
}

th {
  text-align: left;
  height: 30px;
}

tr {
  height: 25px;
}

.dropdowns {
  position: relative;
  margin-bottom: -8px;
}

#Day {
  position: relative;
  left: 5%;
  top: 25px;
  width: 125px;
  height: 30px;
}

#event {
  position: relative;
  left: 10%;
  top: 25px;
  width: 125px;
  height: 30px;
}

#submitbutton {
  position: relative;
  left: 15%;
  top: 25px;
  width: 100px;
  height: 30px;
}

#dateeventtekst {
  position: relative;
  left: 72%;
  top: -15px;
}

.logoutlink {
  position: relative;
  margin-top: 4px;
  left: 93%;
  font-size: 24px;
  font-family: Lato, sans-serif;
  background-color: rgba(122,125,125,1);
  border-color: black;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  color: black;
}

